<%= render 'shared/second_header' %>

<div class="session_page">
  <div class="login_page">
    <div class="login_form">
      <h2 class="login_title">Log in</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <%= render "users/shared/error_messages", resource: resource %>

        <div class="text_field">
          <div class="field_title">メールアドレス</div>
          <%= f.email_field :email, placeholder: "例) book@com", class:"form_field" %>
        </div>

        <div class="text_field">
          <div class="field_title">パスワード</div>
          <%= f.password_field :password, placeholder: "6文字以上の半角英数字", class:"form_field" %>
        </div>

        <div class="actions">
          <%= f.submit "Log in", class:"login_btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render 'shared/footer' %>
