<%= render 'shared/second_header' %>

<div class="form_page">
  <div class="forms">
    <h2 class="form_title">Edit</h2>
      <%= form_with model: @user, url: user_path, id: 'new_user', class: 'new_user', local: true  do |f| %>

        <%= render "users/shared/error_messages" %>

        <div class="form_field">
          <div class="field_title">プロフィール画像</div>
          <%= f.file_field :image, id:"item-image" %>
        </div>

        <div class="form_field">
          <div class="field_title">ニックネーム</div>
          <%= f.text_field :nickname, placeholder: "例) book太郎", class:"form" %>
        </div>

        <div class="form_field">
          <div class="field_title">年齢</div>
          <%= f.text_field :age, placeholder: "半角数字で入力", class:"form"  %>
        </div>

        <div class="form_field">
          <div class="field_title">職種</div>
          <%= f.collection_select :job_id, Job.all, :id, :name, {}, {class:"select_box"} %>
        </div>

        <div class="form_field">
          <div class="field_title">性別</div>
          <%= f.collection_select :gender_id, Gender.all, :id, :name, {}, {class:"select_box"} %>
        </div>

        <div class="form_field">
          <div class="field_title">自己紹介</div>
          <%= f.text_area :introduce, placeholder: "例) 初めまして。読書が大好きで毎日本を持ち歩いています。年間で100冊ほど読みます。よろしくお願いします！", class:"form"  %>
        </div>

        <div class="actions">
          <%= f.submit "Edit", class:"form_btn" %>
        </div>
      <% end %>
  </div>
</div>

<%= render 'shared/footer' %>