<%= render 'shared/header' %>

  <div class="top_first">
    <div class="content">
      <h1 class="top_first_title">ようこそ<br>Forest Libraryへ<br>誰の本棚を覗いてみますか？</h1>
    </div>
  </div>

  <div class="content">
    <div class="top_main">
      <h1 class="top_main_title">ユーザー 一覧</h1>
      <div class="top_users">
        <% @user.each do |user| %>
          <% if current_user.id != user.id %>
            <%= link_to user_path(user.id) do %>
            <div class="top_user">
              <div class="top_user_left">
                <%= image_tag user.image.variant(resize: '180x180') %>
              </div>
              <div class="top_user_right">
                <div>ユーザー名：<%= user.nickname %></div>
                <div>年齢：<%= user.age %></div>
                <div>性別：<%= user.gender.name %></div>
                <div>職種：<%= user.job.name %></div>
              </div>
            </div>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <%= render 'shared/footer' %>