<%= render "shared/header" %>

  <div class="show_first">
    <div class="content">
      <% if current_user.id == @user.id %>
        <h1 class="show_first_title"><%= @user.nickname %>のマイページ</h1>
      <% else %>
        <h1 class="show_first_title"><%= @user.nickname %>さんの本棚</h1>
      <% end %>
    </div>
  </div>

  <div class="content">
    <div class="show_main">
      <div class="show_main_title_content">
        <h1 class="show_main_title">プロフィール</h1>
        <% if current_user.id == @user.id %>
          <%= button_to "編集", edit_user_path, method: :get, class:"user_edit_btn" %>
        <% end %>
      </div>

      <div class="show_user">
        <div class="show_user_left">
          <%= image_tag @user.image.variant(resize: '180x180'),  class:"show_user_img" %>
        </div>

        <div class="show_user_right">
          <div>ユーザー名：<%= @user.nickname %></div>
          <div>年齢：<%= @user.age %></div>
          <div>性別：<%= @user.gender.name %></div>
          <div>職種：<%= @user.job.name %></div>
          <div>自己紹介：<%= @user.introduce %></div>
        </div>
      </div>
      
      <div class="show_main_title_content">
        <h1 class="show_main_title">本棚</h1>
        <% if current_user.id == @user.id %>
          <%= button_to "投稿", new_book_path, method: :get, class:"user_edit_btn" %>
        <% end %>
      </div>

      <div class="show_user_books">
        <% if @books.present? %>
          <% @books.each do |book|%>
            <div class="show_user_book">
              <%= link_to book_path(book.id) do %>
                <%= image_tag "book_icon2.jpeg", class:"show_user_book_image"%>
              <% end %>
              <div>タイトル：<%= book.title%></div>
              <div>著者：<%= book.autor%></div>
            </div>
          <% end %> 
        <% else %>
          <p>まだ投稿された本はありません。</p>
        <% end %>  
      </div>
    </div>
  </div>

<%= render "shared/footer" %>

